$color-bg-light: #fff;

$color-text-dark: #000;
$color-text-light: #fff;
$color-text-grey: #ccc;

$color-text-upload: #36f;

$color-btn-country-red: #c33;
$color-btn-country-blue: #39c;
$color-btn-country-white: #fff;