*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #B1D0E0;
    min-height: 100vh;
    &::before {
      content: "";
      display: table;
    }
    padding: 3rem 0 3rem;
}



@media only screen and (min-width: 320px) {
  .cards {
    // margin: 5%;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
  .cards > * {
    width: 90vw;
  }

}

@media only screen and (min-width: 600px) {
  .cards {
    // margin: 5%;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.cards > * {
  width: 80%;
}
}


@media only screen and (min-width: 850px) {
  .cards {
    justify-content: space-evenly;
  }

  .cards > * {
    padding: 10px;
    width: 40%;
  }

}


@media only screen and (min-width: 1190px) {
  .main {
    display: flex;
    justify-content: center;
  }
  .cards {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}
.cards > * {
  padding: 10px;
  width: 31%;
}

}